function Draw.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
return
function Draw.drawHead 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 250
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Draw.draw2 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 250
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 215
push constant 85
push constant 285
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Draw.draw3 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 250
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 215
push constant 85
push constant 285
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 215
push constant 185
push constant 245
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Draw.draw4 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 250
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 215
push constant 85
push constant 285
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 215
push constant 185
push constant 245
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 255
push constant 185
push constant 285
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Draw.draw5 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 250
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 215
push constant 85
push constant 285
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 215
push constant 185
push constant 245
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 255
push constant 185
push constant 285
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 290
push constant 105
push constant 345
push constant 125
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Draw.draw6 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 250
push constant 50
push constant 30
call Screen.drawCircle 3
pop temp 0
push constant 215
push constant 85
push constant 285
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 215
push constant 185
push constant 245
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 255
push constant 185
push constant 285
push constant 230
call Screen.drawRectangle 4
pop temp 0
push constant 290
push constant 105
push constant 345
push constant 125
call Screen.drawRectangle 4
pop temp 0
push constant 155
push constant 105
push constant 210
push constant 125
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Draw.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
